- main_toolbar

= main_informations do
  = attributes_list do |l|
    - l.attribute(:financial_year, url: true)
    - l.attribute(:started_on)
    - l.attribute(:locked_on)
    - l.attribute(:closed_at)
